body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

p {
  padding: 10px;
}

.content-block {
  color: $letter;
  min-height: 50vh;
  padding: $menu-height 20px;
  
  .title {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0;
  }

  &#text {
    background-color: $primDark;
  }

  &#twitter {
    background-color: $secDark;
  }

  &#carrousel {
    background-color: $primDark;
  }

  &#share {
    background-color: $secDark;
  }
}
