#carrousel {

  .content {
    align-items: center;
    display: flex;
    min-height: 40vh;


    .control {
      color: $letter;
      cursor: pointer;
      font-size: 2em;
    }
  }

  .slides {
    margin: 0 auto;
    width: 80%;
  }

  .page.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .image {
      padding: 10px;
    }
  }

  .page {
    display: none;
  }
}
