.nav-wrapper {
  min-height: $menu-height;
  position: fixed;
  width: 100%;
  background-color: $primary;

  #menu {
    color: $letter;
    display: none;
    padding: $menu-items-v-padding 15px;
  }
}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: $menu-height;
  justify-content: flex-end;

  .item {
    color: $letter;
    padding: $menu-items-v-padding 15px;
    text-decoration: none;
    vertical-align: center;

    &:hover {
      background-color: $secDark;
    }
  }
}

@media screen and (max-width: 480px) {
  .navigation {
    display: none;
    flex-direction: column;
    align-items: stretch;

    &.open {
      display: flex;
    }
  }

  .nav-wrapper {
    #menu {
      display: block;
    }
  }
}